@import '../services-card/services-card'

.services
    position relative
    top -70px
    left 0px
    right 0
    z-index 99
    text-align center
    display flex
    justify-content space-between
    flex-wrap wrap
@media(max-width 1199px)
    .services
        
        top -50px
        position relative
        text-align center
        margin 0 auto
