-var content = ['Lorem ipsum Ut eiusmod quis officia voluptate consequat incididunt reprehenderit adipisicing ullamco est ut do veniam reprehenderit ut consequat magna aliqua sed voluptate in Excepteur ullamco dolor adipisicing aute.','Lorem ipsum Ex ea culpa in eu deserunt Excepteur ut nulla do velit eiusmod dolore ullamco sed cillum culpa aliquip sunt dolor consequat dolore in ex deserunt minim sunt voluptate in anim quis sunt consectetur nulla nisi sint aliqua enim consequat aliquip laboris in Excepteur amet eu aliquip dolor cillum officia nostrud amet dolore laboris cupidatat magna occaecat aliquip Ut mollit ad Ut ullamco eiusmod dolor consequat exercitation incididunt reprehenderit et minim dolor dolor aliqua ut esse mollit qui incididunt in anim non consequat laborum in eiusmod non consequat sint culpa officia minim dolore irure mollit Ut sed velit ullamco commodo sunt qui laborum eu ut quis ea occaecat Duis sed in dolor velit nisi labore in occaecat Excepteur et ullamco in cillum esse pariatur non do amet enim ut sit in ex Excepteur cillum veniam nulla exercitation reprehenderit veniam quis deserunt ex aute velit et minim mollit proident fugiat culpa ad adipisicing aliquip nostrud esse laboris magna dolore ex ullamco eu tempor in quis occaecat deserunt aliqua nostrud ullamco cupidatat Duis aute in dolor elit mollit consectetur exercitation minim sed adipisicing cupidatat amet.','Lorem ipsum Sint tempor ad quis deserunt dolore ullamco veniam Excepteur ut fugiat laboris eiusmod amet laboris ex irure dolor deserunt eu mollit irure ut magna adipisicing ullamco pariatur magna culpa ullamco dolore.']
+b.info.container
    +e.H2.title Some Important Information About 
        span.info__title--styled Safederal
    include /components/info-slider/info-slider
    +b.legend
        each el, i in content
            +e.P.paragraph=el

