@import '../top-form/top-form'
.top-form-container
    margin-top 115px
    background #fff url('../images/couple.png') no-repeat center
    background-size cover
    padding 104px 0 200px
    .top-form-wrapper
        font-family TitilliumWeb-Bold
        .text
            float left
            text-transform uppercase
            width 50%
            &__title
                font-size 60px
                color $red
            &__slogan
                wi
                font-size 26px
                color $blue
    //     &__
        