.top-form-container.container-fluid#top-form
    +b.top-form-wrapper.container.clearfix
        +b.text
            +e.H2.title SAFEDERAL
            +e.H3.slogan The Moving Company You Can Trust
        include /components/top-form/top-form
