
::-webkit-input-placeholder  /* Chrome/Opera/Safari */
    color #6b6fa0
    font-family TitilliumWeb-Regular
    font-size 13px

::-moz-placeholder  /* Firefox 19+ */
    color #6b6fa0
    font-family TitilliumWeb-Regular
    font-size 13px

:-ms-input-placeholder  /* IE 10+ */
    color #6b6fa0
    font-family TitilliumWeb-Regular
    font-size 13px

:-moz-placeholder  /* Firefox 18- */
    color #6b6fa0
    font-family TitilliumWeb-Regular
    font-size 13px



.top-form
    width 32%
    float right
    vertical-align top
    &__title
            color #fff
            font-size  32px
            display inline-block
    .input-group
            width 48%
            display inline-block
            float left
            margin 10px 1%
            &__label
                    color #fff
            .form-control
                    display block
                    height 44px
                    border-radius 5px
                    border 0
                    width 100%
                    padding-left 10px
                    color #6b6fa0
            .action-btn
                    margin-top 30px
                    background-color $red
                    height 44px
                    border-radius 5px
                    color #fff
                    border 0
                    text-transform uppercase
                    width 191px
                    font-family TitilliumWeb-Bold
                    cursor pointer
                    &:hover
                            background-color #ff0c00
                                
@media(max-width 1199px)
    .top-form
        width 100%