.container.clearfix
    +b.reasons-container
        +e.H2.title TOP-6 Reasons to Choose 
            +e.SPAN.title--styled Safederal
        +b.reasons-row
            include /components/reason-card/reason-card
