.reasons-container
    float left
    width 50%
    &__title
        width value
        color $blue
        width 415px
        font-size 46px
        font-family TitilliumWeb-Bold
        text-transform uppercase
        margin-bottom 78px
        &--styled
            color $red
    .reasons-row
        display flex
        flex-wrap wrap
        justify-content space-around
        @import '../reason-card/reason-card'