<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>BLACKSEADUDE   </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bundle.min.css">
  </head>
  <body>
    <div class="wrapper">
      <nav class="nav nav--left"><a class="nav__el" href="#services">Services</a><a class="nav__el" href="#faq">FAQ</a><a class="nav__el" href="#reviews">Reviews</a><a class="nav__el" href="#about">About us</a><a class="nav__el" href="#contacts">Contact us</a>
      </nav>
      <div class="container-fluid header" id="header">
        <div class="container clearfix"><a class="menu-toggle"><span class="menu-toggle__icon icon-toggle2"></span></a>
          <div class="logo"><img class="logo__img" src="./images/logo.png" alt="" role="presentation"/>
          </div>
          <nav class="nav"><a class="nav__el" href="#services">Services</a><a class="nav__el" href="#advantages">Advantages</a><a class="nav__el" href="#reviews">Clients Reviews</a><a class="nav__el" href="#about">About us</a><a class="nav__el" href="#contacts">Contact</a>
          </nav>
          <div class="email-wrap"> <span>Email us:</span><a class="email-wrap__phone" href="info@safederal.com">info@safederal.com</a>
          </div>
          <div class="phone-wrap"><a class="phone-wrap__phone" href="tel:(333)777-3333">(333) 777-3333</a><span class="phone-wrap__time-open">every day 8 A.M.- 8 P.M.</span>
          </div>
          <div class="phone-xs-visible"><a class="phone-xs-visible__el popup-with-zoom-anim" href="#call-dialog"><span class="phone-xs-visible__icon icon-phone"></span></a>
          </div>
          <div class="dialog zoom-anim-dialog mfp-hide" id="call-dialog"><a class="dialog__phone" href="tel:(333)777-3333">(333) 777-3333</a><a class="dialog__phone" href="tel:(333)777-3333">(333) 777-3333</a>
          </div>
        </div>
      </div>
      <div class="top-form-container container-fluid">
        <div class="top-form-wrapper container clearfix">
          <div class="text">
            <h2 class="text__title">SAFEDERAL
            </h2>
            <h3 class="text__slogan">The Moving Company <br> You Can Trust
            </h3>
          </div>
          <form class="top-form clearfix" action="" id="top-form">
            <h2 class="top-form__title">REQUEST <br>A QUOTE NOW
            </h2>
            <div class="form-slider">
              <div class="first-step" data-step="1" id="first-step">
                <div class="input-group">
                  <label class="input-group__label" for="from">FROM
                  </label><input class="input-group__input form-control" type="text" id="from" placeholder="city of zip code" data-validation="alphanumeric length" data-validation-length="min1" data-validation-error-msg="Invalid zip code"/>
                </div>
                <div class="input-group">
                  <label class="input-group__label" for="to">TO
                  </label><input class="input-group__input form-control" type="text" id="to" placeholder="city of zip code" data-validation="alphanumeric length" data-validation-length="min1" data-validation-error-msg="Invalid zip code"/>
                </div>
                <div class="input-group">
                  <label class="input-group__label" for="size">HOME SIZE
                  </label>
                  <select class="select input form-control" data-validation="length" data-validation-length="min1" data-validation-error-msg="This field is required" id="size">
                    <option class="select__el" data-index="0" value="">---
                    </option>
                    <option class="select__el" data-index="1" value="1">Studio
                    </option>
                    <option class="select__el" data-index="2" value="2">1 bedroom
                    </option>
                    <option class="select__el" data-index="3" value="3">2 bedroom(small size,few items)
                    </option>
                    <option class="select__el" data-index="4" value="4">2 bedroom(avg. size, avg. items)
                    </option>
                    <option class="select__el" data-index="5" value="5">2 bedroom(large, many items)
                    </option>
                    <option class="select__el" data-index="6" value="6">3 bedroom(avg. size, avg. items)
                    </option>
                    <option class="select__el" data-index="7" value="7">3 bedroom(large, many items)
                    </option>
                    <option class="select__el" data-index="8" value="8">4 bedroom(avg. size, avg. items)
                    </option>
                    <option class="select__el" data-index="9" value="">4 bedroom(large, many items)
                    </option>
                    <option class="select__el" data-index="10" value="">Commercial(avg. size, avg. items)
                    </option>
                    <option class="select__el" data-index="11" value="last">Commercial(large, many items)
                    </option>
                  </select>
                </div>
                <div class="input-group">
                  <label class="input-group__label" for="date">DATE
                  </label><input class="input-group__input form-control input-date" type="text" placeholder="date" id="date" data-validation="date" data-validation-format="mm/dd/yyyy"/>
                </div>
              </div>
              <div class="second-step" data-step="2" id="second-step">
                <div class="input-group">
                  <label class="input-group__label" for="name">YOUR NAME:
                  </label><input class="input-group__input form-control" type="text" id="name" placeholder="your name" data-validation="alphanumeric length" data-validation-length="min1" data-validation-error-msg="Invalid zip code"/>
                </div>
                <div class="input-group">
                  <label class="input-group__label" for="hear">HOW DID YOU HEAR ABOUT US:
                  </label>
                  <select class="select input form-control" data-validation="length" data-validation-length="min1" data-validation-error-msg="This field is required" id="hear">
                    <option class="select__el" data-index="0" value="">---
                    </option>
                    <option class="select__el" data-index="1" value="1">Studio
                    </option>
                    <option class="select__el" data-index="2" value="2">1 bedroom
                    </option>
                    <option class="select__el" data-index="3" value="3">2 bedroom(small size,few items)
                    </option>
                    <option class="select__el" data-index="4" value="4">2 bedroom(avg. size, avg. items)
                    </option>
                    <option class="select__el" data-index="5" value="5">2 bedroom(large, many items)
                    </option>
                    <option class="select__el" data-index="6" value="6">3 bedroom(avg. size, avg. items)
                    </option>
                    <option class="select__el" data-index="7" value="7">3 bedroom(large, many items)
                    </option>
                    <option class="select__el" data-index="8" value="8">4 bedroom(avg. size, avg. items)
                    </option>
                    <option class="select__el" data-index="9" value="">4 bedroom(large, many items)
                    </option>
                    <option class="select__el" data-index="10" value="">Commercial(avg. size, avg. items)
                    </option>
                    <option class="select__el" data-index="11" value="last">Commercial(large, many items)
                    </option>
                  </select>
                </div>
                <div class="input-group">
                  <label class="input-group__label" for="phone">PHONE:
                  </label><input class="input-group__input form-control" type="text" id="phone" placeholder="your phone" data-validation="alphanumeric length" data-validation-length="min1" data-validation-error-msg="Invalid zip code"/>
                </div>
                <div class="input-group">
                  <label class="input-group__label" for="email">EMAIL:
                  </label><input class="input-group__input form-control" type="text" placeholder="your email" id="email" data-validation="email" data-validation-error-msg="Enter email in xx@xx.xx format"/>
                </div>
              </div>
            </div>
            <div class="input-group"><input class="action-btn" type="submit" value="get started"/>
            </div>
          </form>
        </div>
      </div>
      <div class="container-fluid">
        <div class="container services clearfix" id="services">
          <div class="services-card">
            <div class="img-wrapper"><img class="img-wrapper__img" src="./images/1.png" alt="" role="presentation"/>
            </div>
            <div class="text">
              <h2 class="text__title">LABOR, LOADING OR UNLOADING
              </h2>
              <p class="text__content">We provide full packing and unpacking services, because safety of your belongings is most important thing during the move
              </p>
            </div>
          </div>
          <div class="services-card">
            <div class="img-wrapper"><img class="img-wrapper__img" src="./images/2.png" alt="" role="presentation"/>
            </div>
            <div class="text">
              <h2 class="text__title">Lorem ipsum
              </h2>
              <p class="text__content">Lorem ipsum Ut pariatur anim id dolor elit non laboris commodo cillum consequat.
              </p>
            </div>
          </div>
          <div class="services-card">
            <div class="img-wrapper"><img class="img-wrapper__img" src="./images/3.png" alt="" role="presentation"/>
            </div>
            <div class="text">
              <h2 class="text__title">Lorem ipsum
              </h2>
              <p class="text__content">Lorem ipsum Ut pariatur anim id dolor elit non laboris commodo cillum consequat.
              </p>
            </div>
          </div>
          <div class="services-card">
            <div class="img-wrapper"><img class="img-wrapper__img" src="./images/4.png" alt="" role="presentation"/>
            </div>
            <div class="text">
              <h2 class="text__title">Lorem ipsum
              </h2>
              <p class="text__content">Lorem ipsum Ut pariatur anim id dolor elit non laboris commodo cillum consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid reasons">
        <div class="container clearfix">
          <div class="reasons-container">
            <h2 class="reasons-container__title">TOP-6 Reasons to Choose <span class="reasons-container__title--styled">Safederal</span>
            </h2>
            <div class="reasons-row">
              <div class="reasons-card clearfix">
                <div class="img-wrapper">
                  <div class="img-wrapper__icon icon-check">
                  </div>
                </div>
                <div class="text">
                  <h2 class="text__title">Great Customer Service
                  </h2>
                  <p class="text__content">Lorem ipsum Proident in anim non adipisicing exercitation esse Duis Ut sint.
                  </p>
                </div>
              </div>
              <div class="reasons-card clearfix">
                <div class="img-wrapper">
                  <div class="img-wrapper__icon icon-team">
                  </div>
                </div>
                <div class="text">
                  <h2 class="text__title">Close-Knit Team
                  </h2>
                  <p class="text__content">Lorem ipsum Proident in anim non adipisicing exercitation esse Duis Ut sint.
                  </p>
                </div>
              </div>
              <div class="reasons-card clearfix">
                <div class="img-wrapper">
                  <div class="img-wrapper__icon icon-percent">
                  </div>
                </div>
                <div class="text">
                  <h2 class="text__title">No Hidden Fees
                  </h2>
                  <p class="text__content">Lorem ipsum Proident in anim non adipisicing exercitation esse Duis Ut sint.
                  </p>
                </div>
              </div>
              <div class="reasons-card clearfix">
                <div class="img-wrapper">
                  <div class="img-wrapper__icon icon-dollar">
                  </div>
                </div>
                <div class="text">
                  <h2 class="text__title">Lowest Rates &amp; Billiny
                  </h2>
                  <p class="text__content">Lorem ipsum Proident in anim non adipisicing exercitation esse Duis Ut sint.
                  </p>
                </div>
              </div>
              <div class="reasons-card clearfix">
                <div class="img-wrapper">
                  <div class="img-wrapper__icon icon-insurance">
                  </div>
                </div>
                <div class="text">
                  <h2 class="text__title">Insurance &amp; Licence
                  </h2>
                  <p class="text__content">Lorem ipsum Proident in anim non adipisicing exercitation esse Duis Ut sint.
                  </p>
                </div>
              </div>
              <div class="reasons-card clearfix">
                <div class="img-wrapper">
                  <div class="img-wrapper__icon icon-credit">
                  </div>
                </div>
                <div class="text">
                  <h2 class="text__title">Accepting Any Credit Card
                  </h2>
                  <p class="text__content">Lorem ipsum Proident in anim non adipisicing exercitation esse Duis Ut sint.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reasons-comparison container-fluid animatedParent animateOnce">
        <div class="reasons-comparison-container container animated fadeInUp">
          <h2 class="reasons-comparison-container__title">TOP-6 Reasons to Choose a2b
          </h2>
          <div class="reasons-comparison-row clearfix">
            <div class="reason-item reason-item--less">
              <div class="img-wrapper"><img class="img-wrapper__img" src="./images/logo.png" alt="" role="presentation"/>
              </div><span class="cost-p-hour">Pay $55 <br>per hour</span>
              <table class="table">
                <tr class="table-row">
                  <td class="table-row__first" data-td="Gas fee">Gas fee
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Truck fee">Truck fee
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Stairs fee">Stairs fee
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Two shrink wrap rolls">Two shrink wrap rolls
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Two masking tape">Two masking tape
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Five plastic bags">Five plastic bags
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Packing paper">Packing paper
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
              </table>
              <p class="total-info">total bill = <span class="total-info__total">$300</span>
              </p>
              <p class="conclusion"> <span class="conclusion__styled">$180 economy </span><span>than Pure Moving</span>
              </p><a class="badge--less badge" href="#quick-quote-form-popup">pay less</a>
            </div>
            <div class="reason-item reason-item--more">
              <div class="img-wrapper"><img class="img-wrapper__img" src="./images/logo.png" alt="" role="presentation"/>
              </div><span class="cost-p-hour">Pay $55 <br>per hour</span>
              <table class="table">
                <tr class="table-row">
                  <td class="table-row__first" data-td="Gas fee">Gas fee
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Truck fee">Truck fee
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Stairs fee">Stairs fee
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Two shrink wrap rolls">Two shrink wrap rolls
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Two masking tape">Two masking tape
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Five plastic bags">Five plastic bags
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
                <tr class="table-row">
                  <td class="table-row__first" data-td="Packing paper">Packing paper
                  </td>
                  <td class="table-row__last">$0
                  </td>
                </tr>
              </table>
              <p class="total-info">total bill = <span class="total-info__total">$300</span>
              </p>
              <p class="conclusion"> <span class="conclusion__styled">$180 economy </span><span>than Pure Moving</span>
              </p><a class="badge--more badge" href="#small-thanks">pay more</a>
            </div>
            <div class="container zoom-anim-dialog mfp-hide" id="quick-quote-form-popup">
              <form class="quick-quote-form-popup clearfix" action="">
                <h2 class="title">Moving never<br> can't be more easy!</h2>
                <p class="subtitle">Quick quote</p>
                <div class="quick-quote-form-popup__dismiss">&times;
                </div>
                <div class="wrapper">
                  <div class="left-side">
                    <div class="form-control"><input class="form-control__input" type="text" placeholder="Full name" data-validation="custom length" data-validation-regexp="^([A-Za-z_ ]+)$" data-validation-length="min1" data-validation-error-msg="Invalid value" name=""/>
                    </div>
                    <div class="form-control"><input class="form-control__input" type="email" placeholder="E-mail" data-validation="email" data-validation-error-msg="Enter email in xx@xx.xx format"/>
                    </div>
                    <div class="form-control"><input class="form-control__input phone-number" name="phone" data-validation="length number" data-validation-length="10-10" data-validation-error-msg="Phone number is not correct" placeholder="Phone number" type="text" onfocus="$(this).attr('type','number')"/>
                    </div>
                    <div class="form-control">
                      <select class="select" data-validation="length" data-validation-length="min1" data-validation-error-msg="This field is required">
                        <option class="select__el" data-index="0" value="">How did you know about us?
                        </option>
                        <option class="select__el" data-index="1" value="1">Studio
                        </option>
                        <option class="select__el" data-index="2" value="2">1 bedroom
                        </option>
                        <option class="select__el" data-index="3" value="3">2 bedroom(small size,few items)
                        </option>
                        <option class="select__el" data-index="4" value="4">2 bedroom(avg. size, avg. items)
                        </option>
                        <option class="select__el" data-index="5" value="5">2 bedroom(large, many items)
                        </option>
                        <option class="select__el" data-index="6" value="6">3 bedroom(avg. size, avg. items)
                        </option>
                        <option class="select__el" data-index="7" value="7">3 bedroom(large, many items)
                        </option>
                        <option class="select__el" data-index="8" value="8">4 bedroom(avg. size, avg. items)
                        </option>
                        <option class="select__el" data-index="9" value="9">4 bedroom(large, many items)
                        </option>
                        <option class="select__el" data-index="10" value="10">Commercial(avg. size, avg. items)
                        </option>
                        <option class="select__el" data-index="11" value="last">Commercial(large, many items)    
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="center">
                    <div class="form-control"><input class="form-control__input input-date" id="popup-date" type="text" placeholder="Moving Date" data-validation-format="yyyy/mm/dd"/>
                    </div>
                    <div class="form-control"><input class="form-control__input input-zip" data-validation="alphanumeric length" data-validation-length="min1" data-validation-error-msg="Invalid zip code" placeholder="Pick up zip" type="text"/>
                    </div>
                    <div class="form-control"><input class="form-control__input input-zip" data-validation="alphanumeric length" data-validation-length="min1" data-validation-error-msg="Invalid zip code" placeholder="Drop off zip" type="text"/>
                    </div>
                    <div class="form-control">
                      <select class="select" data-validation="length" data-validation-length="min1" data-validation-error-msg="This field is required">
                        <option class="select__el" data-index="0" value="">Select move size
                        </option>
                        <option class="select__el" data-index="1" value="1">Studio
                        </option>
                        <option class="select__el" data-index="2" value="2">1 bedroom
                        </option>
                        <option class="select__el" data-index="3" value="3">2 bedroom(small size,few items)
                        </option>
                        <option class="select__el" data-index="4" value="4">2 bedroom(avg. size, avg. items)
                        </option>
                        <option class="select__el" data-index="5" value="5">2 bedroom(large, many items)
                        </option>
                        <option class="select__el" data-index="6" value="6">3 bedroom(avg. size, avg. items)
                        </option>
                        <option class="select__el" data-index="7" value="7">3 bedroom(large, many items)
                        </option>
                        <option class="select__el" data-index="8" value="8">4 bedroom(avg. size, avg. items)
                        </option>
                        <option class="select__el" data-index="9" value="">4 bedroom(large, many items)
                        </option>
                        <option class="select__el" data-index="10" value="">Commercial(avg. size, avg. items)
                        </option>
                        <option class="select__el" data-index="11" value="last">Commercial(large, many items)
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="right-side">
                    <div class="form-control textarea"><textarea class="form-control__input message" placeholder="Please let us know if you need help with packing or if you have any heavy items over 200lbs" data-validation="length" data-validation-length="min1" data-validation-error-msg="Message must not be empty"></textarea>
                    </div>
                    <div class="input-group clearfix"><input class="form-submit" type="submit" value="GET A QUOTE NOW"/><input class="form-more" type="button" value="MORE DETAILS"/>
                    </div>
                  </div>
                </div>
                <div class="dialog zoom-anim-dialog mfp-hide">
                  <h1 class="dialog__el">Thank you! Our manager will contact you as soon as possible!
                  </h1>
                </div>
              </form>
            </div>
            <div class="dialog zoom-anim-dialog mfp-hide" id="small-thanks">
              <h1 class="dialog__el">Thank you! Our manager will contact you as soon as possible!
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid footer-wrapper" id="contacts">
        <div class="container footer clearfix">
          <div class="logo-wrapper"><a class="img-wrapper" href="/"></a><span class="logo-wrapper__copyright">&copy; A2B movers 2017</span>
          </div>
          <div class="info-wrap"> <span class="info-wrap__el">Contacts</span><a class="info-wrap__phone" href="tel:(333)777-3333"> <span class="tel">(333) 777-3333</span></a><span class="info-wrap__time-open">every day 8 A.M.- 8 P.M.</span><a class="info-wrap__mail" href="mailto:support@njlocal.com">support@njlocal.com</a>
          </div>
          <div class="socials clearfix">
            <div class="social"><span class="social__icon icon-fb"></span><a class="social__link link--facebook" href="">facebook</a>
            </div>
            <div class="social"><span class="social__icon icon-tw"></span><a class="social__link link--twitter" href="">twitter</a>
            </div>
            <div class="social"><span class="social__icon icon-g"></span><a class="social__link link--google-plus" href="">google plus</a>
            </div>
            <div class="social"><span class="social__icon icon-inst"></span><a class="social__link link--instagram" href="">instagram</a>
            </div>
          </div>
          <div class="developed-by"><a class="href" href="http://webcase.studio/ru/" target="_blank"><span class="href__text">Developed by </span></a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="./scripts/bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
  </body>
</html>