@import '../helpers/helpers'
@import '../header/header'
@import '../top-form-wrapper/top-form-wrapper'
@import '../services/services'
@import '../reasons-wrapper/reasons-wrapper'
@import '../reasons/reasons'
@import '../info/info'
@import '../feedback/feedback'
@import '../faq/faq'
@import '../map/map'
@import '../stay-in-touch/stay-in-touch'
@import '../footer/footer'

.wrapper
    position relative
    left 0
    transition .2s linear all
    background-color #fff
    z-index 0
