.wrapper
    include /components/nav/nav-left
    include /components/header/header
    include /components/top-form-wrapper/top-form-wrapper
    include /components/services/services
    include /components/reasons-wrapper/reasons-wrapper
    include /components/reasons/reasons
    include /components/footer/footer
