.wrapper
    include /components/nav/nav-left
    include /components/header/header
    include /components/top-form-wrapper/top-form-wrapper
    include /components/services/services
    include /components/reasons-wrapper/reasons-wrapper
    include /components/reasons/reasons
    include /components/info/info
    include /components/feedback/feedback
    include /components/faq/faq
    include /components/map/map
    
    include /components/footer/footer
