.reasons
    background #fff url('../images/happy_people.png') no-repeat right bottom
    background-size contain

@media(max-width 1199px)
    .reasons
        background #fff
    
@import '../reasons-row/reasons-row'