extends /layouts/layout
block content 
    include /components/main-wrapper/main-wrapper
block additional-scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")
    //- script.
    //-     (function(d, t) {var g = d.createElement(t);var s = d.getElementsByTagName(t)[0];g.id = "yelp-biz-badge-script-rrc-YW0mpDazMYtauKFphjuZvw";g.src = "//yelp.com/biz_badge_js/en_US/rrc/YW0mpDazMYtauKFphjuZvw.js";s.parentNode.insertBefore(g, s);}(document, 'script'))
    script(src="./scripts/bundle.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer)
