extends /layouts/layout
block content
    .wrapper.wrapper-404
        include /components/nav/nav-left
        include /components/header/header
        include /components/404/404
        include /components/footer/footer 
block additional-scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")
    script(src="/scripts/bundle.min.js")