.reasons-card
    width 48%
    float left
    margin-bottom 41px
    &:hover .img-wrapper
        background-color $blue
    &:hover .text__title
        color $blue
    .img-wrapper
        float left
        width 39px
        height 39px
        background-color $red
        color #fff
        line-height 39px
        text-align center
        
        &__icon
            font-size 20px
            line-height 39px
    .text
        margin-left 20px
        width calc(100% - 59px)
        float right
        &__title
            height 40px
            overflow hidden
            font-size 15px 
            color $red
            text-transform uppercase
            font-family TitilliumWeb-Bold
        &__content
            margin-top 10px
            overflow hidden
            font-size 14px
            height 40px
            color $blue
            font-family TitilliumWeb-Light
            
            