.container-fluid.not-found-container
    +b.not-found-wrapper.container.clearfix
        +b.text
            +b.H2.title ERROR 
                +e.styled 404
            +e.P.subtitle We're sorry, but the page you <br> Are looking for doesn't exist
            +b.btn-group
                +e.A(href="index.html").btn.btn-group__btn--home HOME
                +e.A(href="index.html#contacts").btn.btn-group__btn--contact CONTACT



