+b.not-found-wrapper.container.clearfix
    +b.img-wrapper
        +e.IMG(src="./assets/images/empty-box.png").img
    +b.text
        +e.H2.title ERROR 404
        +e.P.subtitle We're sorry, but the page you <br> Are looking for doesn't exist
        +b.btn-group
            +e.A(href="index.html").btn.btn-group__btn--home HOME
            +e.A(href="index.html#contacts").btn.btn-group__btn--contact CONTACT



