@import '../nav/nav'
.header
    color $blue
    position fixed 
    top 0
    left 0
    right 0
    z-index 555
    background-color #fff
    box-sizing border-box
    transition .5s linear height
    &--tiny
        height 40px
        .container
            padding 5px 0px !important
        // .logo
        //     width 100px
        .phone-wrap
            
            margin-top -5px !important
            // background url('.../images/phone.png') no-repeat left 40%
            &__time-open
                display none !important
        .email-wrap
            display none !important
        .nav
            margin-top -5px
            vertical-align middle
        
    .container
        padding 23px 0px
        
        &:after
            visibility visible
            position absolute
            content ''
            bottom -8px
            left 0
            height 8px
            width 100%
            background-color #25a937
    .logo, .phone-wrap
        display inline-block
        vertical-align middle
    .logo
        margin-right 29px
        &__img
            max-width 100%
    .email-wrap
        font-family TitilliumWeb-Bold
        font-size 14px
        margin-left 65px
        display inline-block
        vertical-align middle
        margin-top 10px
        &__phone
            margin-top 7px
            text-decoration none
            display block
            font-size 15px
            font-family TitilliumWeb-Regular
            color $blue
            &:hover 
                text-decoration underline
    .phone-wrap
        // background url('.../images/phone.png') no-repeat left 20%
        margin-top 5px
        background-size 10px 20px
        float right
        text-align center
        &__phone
            font-family TitilliumWeb-Bold
            color  #da251c
            text-decoration none
            font-size 25px
            &:hover
                opacity .75
        &__time-open
            display block
            font-size 15px
            
            
            
    .phone-xs-visible, .menu-toggle
        display none

@media(max-width 1199px)
    .header
        text-align center
        &:after
            width 100%
            left 0
        .container
            padding 10px 0 10px
        .logo
            float left
        .logo, .phone-wrap
            margin-right 0px
        .phone-wrap, .email-wrap
            display none
        .phone-xs-visible
            margin-top -3px
            display block
            float right
            width 40px
            height 40px
            border-radius 7px
            background-color #da251c
            text-align center
            line-height 43px
            &:hover
                background-color #f30b00
            &__el
                text-decoration none
                color #fff
                font-size 20px
                display block
                height 100%
                
            
                    
@media(max-width 960px)
    .header
        &:after
            visibility visible
            position absolute
            content ''
            bottom -2px
            left 0
            height 2px
            width 100%
            background-color #25a937
        .container 
            text-align center
            padding 10px 0 
            
            &:after
                visibility hidden
                height 2px
                bottom -2px
        .menu-toggle
            border-radius 7px
            background-color $blue
            width 40px 
            height 40px
            display block
            float left
            cursor pointer
            margin-top -3px
            color #fff
            line-height 40px
            &:hover
                opacity .75
        .logo
            float none
        
@media(max-width 530px)
    .header
        text-align center
        .phone-wrap
            display none

    
@media(max-width 420px)
    .header
        .container
            padding-bottom 10px
