.feedback-container
    padding 70px 0 
    background url('./../images/slider-mask.png') no-repeat center
    background-size cover
    .feedback
        &__title
            font-size 30px
            color #fff
            margin-bottom 50px
            font-family TitilliumWeb-Bold
            text-transform uppercase
            text-align center
            
@import '../feedback-slider/feedback-slider'