.footer-wrapper
    background-color  #fff
    overflow hidden
    .footer
        position relative
        padding 33px 0 10px
        color $blue
        .logo, .info-wrap
            display inline-block
        .logo
            
            float left
            &__copyright
                margin-top 25px
                text-align center
                vertical-align bottom
                display block
                font-size 11px
            &:hover 
                opacity .7
        .info-wrap
            margin-top -5px
            margin-left 330px
            vertical-align top
            text-align center
            font-family TitilliumWeb-Light
            &__phone
                font-family TitilliumWeb-Bold
                text-align center
                text-decoration none
                display block
                color $red
                font-size 20px
                .img
                    height 23px
                    vertical-align middle
                .tel
                    margin-left 5px
                    
                &:hover
                    opacity .75
            &__time-open
                font-family TitilliumWeb-Bold
                margin-top 0px
                display inline-block
                width 100%
                font-size 13.22px
                text-align center
                
        
            &__mail
                margin-top 25px
                display block
                text-decoration none
                color $blue
                &:hover
                    opacity .75
        .socials
            position relative
            right -40px
            float right
            width 240px
            font-size 13px
            vertical-align top
            display inline-block
            .social
                width 45%
                display inline-block
                float left
                margin-bottom 10px
                margin-left 5px
                &__icon
                    font-size 13px
                    color $red
                &__link
                    height 13px
                    margin-left 10px
                    display inline-block
                    text-decoration none
                    color $blue
                    &:hover
                        color $red
        
        .developed-by
            display inline-block
            position absolute
            bottom 10px
            right 0
            clear both
            .text
                display inline-block
                color $blue
                .href
                    text-decoration none
                    &:hover
                        opacity .75
                &__img
                    display inline-block
                    margin-right 10px
                
@media(max-width 1199px)
    .footer-wrapper
        .footer
            

            .info-wrap
                margin-left 212px
                &__time-open
                    margin-top 10px
            .socials
                text-align left
                position relative
                float right
            .developed-by
                text-align center
                // left 0
                right 0
                .href
                    display inline-block
                    margin 0 auto
@media(max-width 960px)
    .footer-wrapper
        .footer
            .info-wrap
                margin-left 70px
            .socials
                margin-left 0
            .footer-nav
                display none
@media(max-width 720px)
    .footer-wrapper
        .footer
            padding 30px 0
            .logo
                width 100px
                .img-wrapper
                    &__img
                        width 100%
            .info-wrap
                float right
                margin-left 0
                margin-bottom 10px
                &__el, &__time-open
                    display none
                &__mail
                    margin-top 20px
                
            .socials
                text-align center
                position static
                margin 30px 0 20px
                display block
                width 100%
                clear both
            .developed-by
                display block
                width 100%
                position static
                // clear both
                margin-top 20px
                text-align center
                
               