-var data = [{src:'../images/info-3.png'},{src:'../images/info-2.png'},{src:'../images/info-1.png'},{src:'../images/info-3.png'},{src:'../images/info-2.png'},{src:'../images/info-1.png'},{src:'../images/info-3.png'},{src:'../images/info-2.png'},{src:'../images/info-1.png'}]
+b.slider#info-slider
    each el, i in data
        +b.img-wrapper
            +e.IMG(src=el.src href=el.src).img