.info-slider
    .slick-list
        margin 0 30px
    .slick-next, .slick-prev
        font-size 0
        position absolute
        top 40%
        // top calc(50% - 21.5px)
        z-index 10
        background-color transparent
        border none
        height 30px
        width 30px
        cursor pointer
        &:focus
            outline none
        &:hover
            opacity .5
    .slick-prev
        left 0px
        background url('../images/left.png') no-repeat center center
    
    .slick-next
        right 0px
         
        background url('../images/right.png') no-repeat center center
        
    .img-wrapper
        width 370px 
        overflow hidden
        height 100%
        cursor pointer
        display block
        position relative
        &:after
            content ''
            background url('../images/magnify.png') no-repeat center
            width 40px
            height 40px
            visibility hidden
            top 50%
            left 50%
            position absolute
            z-index 55551233213
            transform translate(-50%, -55%) 
        &:nth-child(2n + 2)
            margin 0 12.5px
        &__img
            width 100%
            height auto
        &:hover:after
            visibility visible
            
.dialog.popup
    max-width 1180px
    padding 30px
    margin 0 auto
    .img-wrapper
        width 100% 
        height auto 
        &__img
            width 100%
            height auto
            
            
        
    
    
@media(max-width 1199px)
    .info-slider
        .img-wrapper
            width 290px
@media(max-width 960px)
    .info-slider
        .img-wrapper
            width 330px
@media(max-width 720px)
    .info-slider
        .img-wrapper
            width 400px
@media(max-width 480px)
    .info-slider
        .img-wrapper
            width 267px
