-var data = [{title:'Services',href:'#services'},{title:'Advantages',href:'#advantages'},{title:'Clients Reviews',href:'#feedback'},{title:'About us',href:'#about'},{title:'Contact',href:'#contacts'}]
                      
+b.NAV.nav.nav--left
    each el,i in data
        +e.A(href=el.href).el= el.title 