-var data = [{title:'Services',href:'#services'},{title:'FAQ',href:'#faq'},{title:'Reviews',href:'#reviews'},{title:'About us',href:'#about'},{title:'Contact us',href:'#contacts'}]

                      
+b.NAV.nav
    each el,i in data
        +e.A(href=el.href).el= el.title 