.nav
    
    display inline-block
    margin 20px 29px 0
    
    &--left
        display none
    &__el
        vertical-align sub
        font-size 14px
        text-decoration none
        color $blue
        text-transform uppercase
        text-align center
        &:hover
            color #da251c
        & + .nav__el
            margin-left 15px
        
@media(max-width 1199px)
    .nav
        float none
        margin-top 0px
        text-align center
        width auto
        
        &__el
            display inline-block
            margin 0 10px
            & + & + .nav__el
                margin 0 10px
        
@media(max-width 960px)
    .nav
        display none
        &__el
            display block 
            text-align left
            margin  0 !important
            color #fff
            width 100%
            padding 15px
            &:hover
                color #fff
                background-color $red
        &--left
            margin 0
            transition .2s linear all
            position fixed
            z-index 1000
            top 0
            height 100%
            left -215px
            background-color $blue
            width 215px
            text-align left
            display block
            margin-top 0
        &--active
            left 0
