-var data = [{img:'./images/1.png',title:'LABOR, LOADING OR UNLOADING',text:'We provide full packing and unpacking services, because safety of your belongings is most important thing during the move'},{img:'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQBK3FmyjIENz16NWEl1iJcIWj8I5n8hs-rl5JPixzw-XppNfKx',title:'LOCAL MOVING',text:'Lorem ipsum Ut pariatur anim id dolor elit non laboris commodo cillum consequat.'},{img:'./images/3.png',title:'Packing',text:'Lorem ipsum Ut pariatur anim id dolor elit non laboris commodo cillum consequat.'},{img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTKtYBBr8doTiJ7TjTwLgXAq_G7QDZ4HtbWoeWcsi0_ghBHap_QGVdr9k',title:'Commercial',text:'Lorem ipsum Ut pariatur anim id dolor elit non laboris commodo cillum consequat.'}]

each el, i in data
    +b.services-card
        +b.img-wrapper
            +e.IMG(src=el.img).img
        +b.text
            +e.H2.title=el.title
            +e.P.content=el.text
        